.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    padding: 1rem

}

.card{
    font-family: Alegreya;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 12px;
    display: flex;  
    align-items: center;
    justify-content: center;
    padding: 1rem ;
    gap: 1rem;
}

.userAvatar{  
    border-radius: 50%;
    padding: .2rem;
    width: 6rem;
    height: 6rem;
    border: 2px solid var(--green);
    overflow: hidden;
}

.userAvatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
