.containerNavbar{
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; 
    justify-content:space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}

.containerTypewriter{
    border-radius: 5px;
    font-size: 5rem;
    font-weight: 700;
    color: white;
    font-family: Alegreya;
}

.activeLabel{
    color: red;
}

.inactiveLabel{
    color: gray;
}

.activeSelector{
    display: flex;
}

.inactiveSelector{
    display: none;
}

/* @keyframes typing{
    to{
        width: 0%;
    }

}

@keyframes blinking{
    50%{
        color: transparent;
    }
   
} */