
.containerNavbar{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content:left;
    padding-left: 7rem;
    padding-top: 2rem;
}

.containerTitle{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content:left;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 5.5rem;
    /* padding-left: 3rem; */
    font-family: Alegreya;
    color: white;
}

.radioBtnsContainer{
    position: relative;
    margin-left: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.labels{
    width: 100%;
    position: absolute;
    font-family: Roboto Condensed;
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 5;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.labels label{
    cursor: pointer;
    color: var(--green);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radios{
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioOption{
    opacity: 0;
    cursor: pointer;
    display: flex;
}

.activeLabel{
    color: red;
}

.inactiveLabel{
    color: gray;
}

