.containerNavbar{
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; 
    justify-content:space-between;
    padding: 1rem 5rem;
    /* border-bottom: 1px solid var(--green); */
    background: linear-gradient(to bottom, #b7ba1f4c 30%, #00000000) 50%;
}

.containerTypewriter{
    border-radius: 5px;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 3px 3px var(--purple);
    color: white;
    font-family: Alegreya;
}

.activeLabel{
    color: red;
}

.inactiveLabel{
    color: gray;
}

.activeSelector{
    display: flex;
}

.inactiveSelector{
    display: none;
}