.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.inputSearch[type="text"]{
    appearance: none;
    outline: none;
    border: none;
    background-color: white;
    width: 20rem;
    color: white;
    /* padding: .5rem 1rem; */
    font-size: 1.1rem;
    font-family: Roboto Condensed;
    font-weight: 400;
    letter-spacing: .05rem;
    border-radius: 12px;
    transition: all 200ms ease;

}

.inputSearch:focus[type="text"]{
    outline: none;
    border: none;
    color: var(--green);
    font-size: 1.1rem;   
    background-color: black;
    font-family: Roboto Condensed;
    border-radius: 8px;
}

.labelSearch{
    border-radius: 50%;
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background-color: var(--purple);
    transition: all 200ms ease;
}

.labelSearch:hover{
    border-radius: 30%;
    color: var(--green);
    background-color: black;
}    