.containerHero{
    /* border: 2px solid pink; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    /* overflow-y: hidden; */
}

.hero{
    /* border: 2px solid white; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 3rem;
    padding-right: 3rem;
}

.heroLoadedComponents{
    /* border: 2px solid rgb(122, 122, 122); */
    padding-left: 2rem;
    padding-right: 7rem;
    width: 50%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content:center;
}


.sub{
    display: flex;
    align-items: center;
    justify-content:right;
    font-family: Alegreya;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green)
}

.text{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Alegreya;
    font-size: 3.8rem;
    font-weight: 600;
    color: white;
    line-height: 4.8rem;
}

