.container{

    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}

.login{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    background: linear-gradient(to right, #00000000, #000000ce 80%, #000000ba 90%);
}
     
.formContainer{
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    display: flex;
    outline: 1px solid var(--green);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem 2rem 2rem 2rem;
    gap: 2rem;
    animation-name: slideUp;
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    transition: all 250ms ease;
}

.formContainer:hover{
    outline: 1px solid var(--purple);
}


.closeBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: var(--purple);
    padding: .1rem;
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    transition: all 200ms ease;
}

.closeBtn:hover{
    color: var(--green);
    background-color: black;
}

.userTypeBtnContainer{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    user-select: none;
}



.userTypeLabels{
    cursor: pointer;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: left;
    font-family: Roboto Condensed;
    color: var(--green);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 500;
    gap: 2rem;
}

.chevronBack{
    background-color: var(--purple);
    border-radius: 50%;
}

.userTypeRadios{
    display: none;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userTypeRadioOption{
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: none;
}

.labelClient{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease;
    padding: .2rem .5rem;
}

.labelClient:hover{
    background-color: black;
    border-radius: 8px;

}


.labelRestaurant{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .5rem;
}

.labelRestaurant:hover{
    background-color: black;
    border-radius: 8px;
}


.menuContainer{
    position: relative;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
    padding-bottom: 1rem;
    transition: all 250ms ease;
}

.userActionLabels{
 
    padding-top: 1.5rem;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    gap: 2rem;
    margin-bottom: 1rem;
}

.userActionRadios{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.userActionRadioOption{

    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    display: none;
}

.labelRegister{
    font-family: Roboto;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding-top: .5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
}

.labelRegister:hover{
    color: var(--green);
}

.labelLogin{
    font-family: Roboto;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding-top: .5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
}

.labelLogin:hover{
    color: var(--green);
}



input[type="text"]{
    width: 25rem;
    background-color: white;
    color: var(--purple);
    border: none;
    outline: none;
    appearance: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: Roboto Condensed;
    font-weight: 400;
    letter-spacing: .05rem;
    border-radius: 8px;
}

input[type="password"]{
    width: 25rem;
    background-color: white;
    color: purple;
    outline: none;
    border: none;
    appearance: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: Roboto Condensed;
    font-weight: 400;
    letter-spacing: .05rem;
    border-radius: 8px;
}


input:focus[type="text"]{
    background-color: black;
    color: var(--green);
}

input:focus[type="password"]{
    background-color: black;
    color: var(--green);
}

::placeholder {
    color: rgb(177, 177, 177);
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder{ /* Edge 12 -18 */
    color:rgb(192, 192, 192);
  }


.inputsUserLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn1{
    border: 0px solid transparent;
    outline: none;
    cursor: pointer;
    appearance: none;
    padding: .5rem .7rem;
    font-size: 1.2rem;
    font-family: Roboto Condensed;
    font-weight: 700;
    letter-spacing: .05rem;
    border-radius: 22px;
    background-color: var(--purple);
    color: white;
    transition: all 200ms ease;
}

.btn1:hover{
    color: var(--green);
    background-color: black;
    border-radius: 8px;
}

.closeIcon{
    position: absolute;
    transform: translate(1.5rem, -.5rem);
    z-index: 20;
    width: 10%;
    height: 100%;
    right: 0;
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    color: var(--green);
    font-size: 3rem;
    cursor: pointer;
}

.closeIcon:hover{
    color: var(--purple);
}


/* ************************ */



